@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}
.divUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#37258f, #37258f);
    padding: 20px 0 0 0;
}
h1{
    padding: 20px 0 20px 0;
}

.infoAll {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0 0 0;
    background:linear-gradient( #37258f, #ffffff);
}
.contacts{
    width: 45%;
    font-size: 25px;
    margin: 10px 0 0 20px;
}
.address {
    margin: 20px 0 0 0;
}
.geo {
    margin: 0 0 0 40px;
}
.company{
    width: 45%;
}
.titleCompany {
    font-size: 30px;
}
.infoCompany {
    font-size: 25px;
}

/*-------------------*/

.btnPost {
    position: relative;
    left: 20%;
    margin: 30px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    background: linear-gradient(#7b64f1, #ad9fea);
    color: #ffffff;
    border: 3px #7b64f1 solid;
    font-weight: 600;
    font-size: 20px;
}

.hidden {
    display: none;
}
#title {
    width: 100vw;
    margin: 30px 0 30px 30px;
}
#styleBlock{
   display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 3px #7b64f1 solid;
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 5px;


}
.block h5 {
    font-size: 15px;
    font-weight: 600;
    height: 80%;
}
.block button {
    padding: 5px 10px;
    border-radius: 3px;
    background: linear-gradient(#7b64f1, #ad9fea);
    color: #ffffff;
    border: 1px #130263 solid;
}














