
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#a3e4f8, #b3f2fd);
}

#post-details{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.infoPost {
    background: linear-gradient(#3fccff, #abe8ff);
    width: 50%;
    padding: 10px;
    margin: 20px 0 50px 0 ;
    display: flex;
    flex-direction: column;
    border: 2px #005a98 solid;
    border-radius: 10px;

    gap:10px;
    font-size: 20px;
    font-weight: 500;

}

.info {
    margin: 30px 0 30px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.comment {
    background: linear-gradient(#7ed9fa, #b8ebff) ;
    border: 2px #005a98 solid;
    border-radius: 10px;
    width: 23%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
    gap:10px;
}